body{
    transition: 0.3s;
}
.hex-colors h1{
    text-transform: uppercase;
    animation: changecolor 5s infinite alternate;
}
@keyframes changecolor{
    0%{
        color: red;
    }
    20%{
        color: purple;
    } 
    40%{
        color: blue;
    }
    60%{
        color: green;
    }
    80%{
        color: yellow;
    } 
    100%{
        color: orange;
    }  
}